.pagination{
    margin-top: 30px;
    margin-bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination button{
    padding: 8px 20px;
    margin-right: 8px;
    border: none;
    outline: none;
    border: 3px solid rgb(162, 162, 216);
    background-color: white;
}
.pagination button.active{
    background-color: rgb(162, 162, 216);
    color: white;
}

@media screen and (max-width: 500px) {
    .pagination button{
        padding: 2px 8px;
    }
}