.navbar{
    padding: 5px 0px;
    border-bottom: 1px solid rgb(224, 224, 224);
    height: 15vh;
}
.navbar .navbar-brand img{
    width: 80px;
}
.navbar .navbar-nav .nav-item{
    margin-right: 25px;
}
.navbar .navbar-nav .nav-item .nav_link >*{
    font-size: 17px;
    color: rgb(180, 180, 180);
    text-transform: uppercase;
}
.navbar .navbar-nav .nav-item .nav_link:hover >*{
    color: black;
}
.navbar .navbar-nav .nav-item .nav_link.active >*{
    color: black;
}


@media screen and (max-width: 500px) {
    .navbar{
        height: auto;
        border-bottom: 1px solid gray;
        padding: 20px 0px;
    }
    .navbar #navbarSupportedContent{
        margin-top: 20px;
    }
    .navbar .navbar-toggler{
        border: none !important;
        outline: none !important;
    }
    .navbar .navbar-toggler.collapsed{
        border: none !important;
        outline: none !important;
    }
    .navbar-toggler:focus{
        outline: none !important;
        box-shadow: none;
    }
    .navbar .navbar-toggler-icon{
        border: none !important;
        outline: none !important;
    }
}