.characters_top .img_section{
    min-height: 40vh;
    max-height: 40vh;
    font-family: math;
    display: flex;
    justify-content: center;
    align-items: center;
}
.characters_top .img_section img{
    height: 20vh;
}
.characters_top .search_section{
    margin-top: 20px;
}
.characters_top .search_section .form{
    display: flex;
}
.characters_top .search_section .form .input_div{
    width: 23%;
    margin-right: 1.5%;
    position: relative;
}
.characters_top .search_section .form .input_div label{
    position: absolute;
    top: -10px;
    background-color: white;
    padding: 0px 10px;
    font-size: 12px;
    left: 9%;
}
.characters_top .search_section .form .input_div input,
.characters_top .search_section .form .input_div select{
    width: 100%;
    outline: none;
    height: 48px;
    padding: 10px;
    font-size: 14px;
}